---
import '@styles/global.css';

const { title, description, generator = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    {title && <title>{title}</title>}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    {generator && <meta name="generator" content={Astro.generator} />}

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>
